# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

.idea/
.DS_store
tmp/
runs/
cache/
lightning_logs/
**/best_tfmr/
**/*.ckpt
models/roberta-large-stance/pytorch_model.bin
cskg_star.tsv
s10_33%/config.json
s10_33%/eval_results.txt
s10_33%/pytorch_model.bin
s10_33%/special_tokens_map.json
s10_33%/spiece.model
s10_33%/tokenizer_config.json
s10_33%/train_s10.py
s10_33%/training_args.bin
graphs/0.png
graphs/1.png
graphs/2.png
graphs/3.png
graphs/4.png
graphs/5.png
graphs/6.png
graphs/7.png
graphs/8.png
graphs/9.png
graphs/10.png
graphs/11.png
graphs/12.png
graphs/13.png
graphs/14.png
graphs/15.png
graphs/16.png
graphs/17.png
graphs/18.png
graphs/19.png
graphs/20.png
graphs/21.png
graphs/22.png
graphs/23.png
graphs/24.png
graphs/25.png
graphs/26.png
graphs/27.png
graphs/28.png
graphs/29.png
graphs/30.png
graphs/31.png
graphs/32.png
graphs/33.png
graphs/34.png
graphs/35.png
graphs/36.png
graphs/37.png
graphs/38.png
graphs/39.png
graphs/40.png
graphs/41.png
graphs/42.png
graphs/43.png
graphs/44.png
graphs/45.png
graphs/46.png
graphs/47.png
graphs/48.png
graphs/49.png
graphs/50.png
graphs/51.png
graphs/52.png
graphs/53.png
graphs/54.png
graphs/55.png
graphs/56.png
graphs/57.png
graphs/58.png
graphs/59.png
graphs/60.png
graphs/61.png
graphs/62.png
graphs/63.png
graphs/64.png
graphs/65.png
graphs/66.png
graphs/67.png
graphs/68.png
graphs/69.png
graphs/70.png
graphs/71.png
graphs/72.png
graphs/73.png
graphs/74.png
graphs/75.png
graphs/76.png
graphs/77.png
graphs/78.png
graphs/79.png
graphs/80.png
graphs/81.png
graphs/82.png
graphs/83.png
graphs/84.png
graphs/85.png
graphs/86.png
graphs/87.png
graphs/88.png
graphs/89.png
graphs/90.png
graphs/91.png
graphs/92.png
graphs/93.png
graphs/94.png
graphs/95.png
graphs/96.png
graphs/97.png
graphs/98.png
graphs/99.png
graphs/100.png
graphs/101.png
graphs/102.png
graphs/103.png
graphs/104.png
graphs/105.png
graphs/106.png
graphs/107.png
graphs/108.png
graphs/109.png
graphs/110.png
graphs/111.png
graphs/112.png
graphs/113.png
graphs/114.png
graphs/115.png
graphs/116.png
graphs/118.png
graphs/119.png
graphs/120.png
graphs/121.png
graphs/122.png
graphs/123.png
graphs/124.png
graphs/125.png
graphs/126.png
graphs/127.png
graphs/128.png
graphs/129.png
graphs/130.png
graphs/131.png
graphs/132.png
graphs/133.png
graphs/134.png
graphs/135.png
graphs/136.png
graphs/137.png
graphs/138.png
graphs/139.png
graphs/140.png
graphs/141.png
graphs/142.png
graphs/143.png
graphs/144.png
graphs/145.png
graphs/146.png
graphs/147.png
graphs/148.png
graphs/149.png
graphs/150.png
graphs/151.png
graphs/152.png
graphs/153.png
graphs/154.png
graphs/155.png
graphs/156.png
graphs/157.png
graphs/158.png
graphs/159.png
graphs/160.png
graphs/161.png
graphs/162.png
graphs/163.png
graphs/164.png
graphs/165.png
graphs/166.png
graphs/167.png
graphs/168.png
graphs/169.png
graphs/170.png
graphs/171.png
graphs/172.png
graphs/173.png
graphs/174.png
graphs/175.png
graphs/176.png
graphs/177.png
graphs/178.png
graphs/179.png
graphs/180.png
graphs/181.png
graphs/182.png
graphs/183.png
graphs/184.png
graphs/185.png
graphs/186.png
graphs/187.png
graphs/188.png
graphs/189.png
graphs/190.png
graphs/191.png
graphs/192.png
graphs/193.png
graphs/194.png
graphs/195.png
graphs/196.png
graphs/197.png
graphs/198.png
graphs/199.png
graphs/200.png
graphs/201.png
graphs/202.png
graphs/203.png
graphs/204.png
graphs/205.png
graphs/206.png
graphs/207.png
graphs/208.png
graphs/209.png
graphs/210.png
graphs/211.png
graphs/212.png
graphs/213.png
graphs/214.png
graphs/215.png
graphs/216.png
graphs/217.png
graphs/218.png
graphs/219.png
graphs/220.png
graphs/221.png
graphs/222.png
graphs/223.png
graphs/224.png
graphs/225.png
graphs/226.png
graphs/227.png
graphs/228.png
graphs/229.png
graphs/230.png
graphs/231.png
graphs/232.png
graphs/233.png
graphs/234.png
graphs/235.png
graphs/236.png
graphs/237.png
graphs/238.png
graphs/239.png
graphs/240.png
graphs/241.png
graphs/242.png
graphs/243.png
graphs/244.png
graphs/245.png
graphs/246.png
graphs/247.png
graphs/248.png
graphs/249.png
graphs/250.png
graphs/251.png
graphs/252.png
graphs/253.png
graphs/254.png
graphs/255.png
graphs/256.png
graphs/257.png
graphs/258.png
graphs/259.png
graphs/260.png
graphs/261.png
graphs/262.png
graphs/263.png
graphs/264.png
graphs/265.png
graphs/266.png
graphs/267.png
graphs/268.png
graphs/269.png
graphs/270.png
graphs/271.png
graphs/272.png
graphs/273.png
graphs/274.png
graphs/275.png
graphs/276.png
graphs/277.png
graphs/278.png
graphs/279.png
graphs/280.png
graphs/281.png
graphs/282.png
graphs/283.png
graphs/284.png
graphs/285.png
graphs/286.png
graphs/287.png
graphs/288.png
graphs/289.png
graphs/290.png
graphs/291.png
graphs/292.png
graphs/293.png
graphs/294.png
graphs/295.png
graphs/296.png
graphs/297.png
graphs/298.png
graphs/299.png
graphs/300.png
graphs/301.png
graphs/302.png
graphs/303.png
graphs/304.png
graphs/305.png
graphs/306.png
graphs/307.png
graphs/308.png
graphs/309.png
graphs/310.png
graphs/311.png
graphs/312.png
graphs/313.png
graphs/314.png
graphs/315.png
graphs/316.png
graphs/317.png
graphs/318.png
graphs/319.png
graphs/320.png
graphs/321.png
graphs/322.png
graphs/323.png
graphs/324.png
graphs/325.png
graphs/326.png
graphs/327.png
graphs/328.png
graphs/329.png
graphs/330.png
graphs/331.png
graphs/332.png
graphs/333.png
graphs/334.png
graphs/335.png
graphs/336.png
graphs/337.png
graphs/338.png
graphs/339.png
graphs/340.png
graphs/341.png
graphs/342.png
graphs/343.png
graphs/344.png
graphs/345.png
graphs/346.png
graphs/347.png
graphs/348.png
graphs/349.png
graphs/350.png
graphs/351.png
graphs/352.png
graphs/353.png
graphs/354.png
graphs/355.png
graphs/356.png
graphs/357.png
graphs/358.png
graphs/359.png
graphs/360.png
graphs/361.png
graphs/362.png
graphs/363.png
graphs/364.png
graphs/366.png
graphs/367.png
graphs/368.png
graphs/369.png
graphs/370.png
graphs/371.png
graphs/372.png
graphs/373.png
graphs/374.png
graphs/375.png
graphs/376.png
graphs/377.png
graphs/378.png
graphs/379.png
graphs/380.png
graphs/381.png
graphs/382.png
graphs/383.png
graphs/384.png
graphs/385.png
graphs/386.png
graphs/387.png
graphs/388.png
graphs/389.png
graphs/390.png
graphs/391.png
graphs/392.png
graphs/393.png
graphs/394.png
graphs/395.png
graphs/396.png
graphs/397.png
